{% extends 'layout.html' %}
 
{% block tittle %}
 home
{% endblock %}

 {% block content %}
  <h1>TECH WITH KEEJAH</h1>
  <br>
 	 <h2>HELLO I'm KEEJAH MWANDU<h2>
        <br>
  		<h4>Highly motivated computer programmer, cybersecurity professional with a year of expertise in computer programming and cybersecurity</h4>
  		<br>
  		<h2>Skills</h2>
  		<h4>programming languages: phython, html, css, jave</h4>  		
  		<h4>familiarity with kal linux</h4>
  		<br>
  		<h2>interests</h2>
  		<h4> hiking and outdoor activities</h4>  	
  		<h4>learning new programming languages</h4>

   <p>check out my <a href="/about">about </a>page </p>


 {% endblock %}
